<html>
<head>
    <link rel="stylesheet" href="style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
         <a class="logo-link" href="/"><div class="left-nav">Maker BnB</div></a>
        <div class="right-nav">
            <form action="/logout" method="post"><button type="submit" value="submit" class="button-4">Log out</button></form>
            <a href="/viewspaces" method="get"><button type="submit" value="submit" class="button-4">View Spaces</a>
            <a href="/search" method="get"><button type="submit" value="submit" class="button-4">Search Spaces</a>
         </div>

</div>
<div class="spaces-container">

<div class="index-hero">List your space in seconds!</div>

<form class="form-long" action="/spaces" method="post">
            <div class="subtitle">Let's list your space!</div>
            <div class="input-container ic1">
                <input type="text" name="name" placeholder="space name">
                <div class="cut"></div>
            </div>
            <div class="input-container ic2">
                <input type="text" name="description" placeholder="description">
                <div class="cut"></div>
            </div>
            <div class="input-container ic2">
                <input type="text" name="price_per_night" placeholder="Price per night">
                <div class="cut"></div>
            </div>
            <div class="input-container ic2">
                  <input type="text" name="date_from" placeholder="2023-01-01">
                <div class="cut"></div>
            </div>
            <div class="input-container ic2">
                <input type="text" name="date_to" placeholder="2023-01-04">
                <div class="cut"></div>
            </div>
            <button type="text" class="button-4">List it!</button>
        </form>


<% @space.reverse_each do |space| %>
    <div class="space">
        <div class="space-title">
            <%= space.name %>
        </div>
        <p><span><%= space.description %></span></p>
        <p><span>From: <%= space.date_from %></span></p>
        <p>To: <%= space.date_to %></p>
        <a href="/viewspace/<%=space.id%>">More info</a>
    </div>
 <% end %>

</body>
</html>
